* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

/* HEADER SECTION */

.header {
	background-image: linear-gradient(to right, black 18%, #0d094d, #0d094d, black);
}

.header-content {
	width: 52.5%;
	padding: 5% 0 5% 10%;
	color: white;
}

.header-content .title {
	line-height: 1em;
	font-size: 3.4em;
	font-weight: 700;
}

.title-content {
	color: #01ff85;
}

.ratings {
	color: #01ff85;
	font-weight: 500;
	font-size: 20px;
}

.para-1 {
	font-size: 1.3em;
	margin: 12px auto 20px;
	font-weight: 600;
}

.para-2 {
	font-size: 1.1em;
	font-weight: 600;
	margin: 10px auto 20px;
}

.para-3 {
	font-size: 1.1em;
	font-weight: 400;
	margin: 10px auto 20px;
	line-height: 1.5em;
}

/* STICKY SECTION */

.sticky {
	position: fixed;
	top: 10%;
	left: 62%;
	height: auto;
	width: 27%;
	background-color: #000;
	color: rgb(214, 205, 205);
	padding: 15px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #fff;
}

.sticky p {
	margin: 5px 0px;
}

.video {
	box-shadow: 0px 0px 5px #fff, 0px 0px 30px #01a757;
	margin-top: 10px;
	margin-bottom: 10px;
}
.button {
	margin: 10px 0px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: linear-gradient(to right, #37ed7d 10%, #28c57f, #1cb088, #119a8e);
	border-radius: 5px;
}

/* BODY SECTION */

.body {
	background-color: #f0f0f0;
	padding: 5% 0 5% 10%;
}

.body-content {
	width: 52.5%;
	color: #2c0573;
	font-size: 1.4em;
}

.title {
	font-weight: 800;
}

.line {
	margin: 1em auto;
}

.body .all-cards h1 {
	color: #2c0573;
	font-weight: 700;
	font-size: 1.8em;
}

.body .all-cards h3 {
	font-size: 1.5em;
	margin: 0.5em 0;
	font-weight: 600;
}

.body .all-cards p {
	font-weight: 400;
	margin: 1em auto;
}

.all-cards div {
	border-radius: 5px;
}

.card-1 {
	width: 52.5%;
	background-color: white;
	color: black;
	padding: 1.5em 2.5em;
	margin: 2em 0;
}

.card-2 {
	width: 52.5%;
	background-color: white;
	color: black;
	padding: 1.5em 2.5em;
	margin: 2em 0;
}

.card-3 {
	width: 52.5%;
	background-color: white;
	color: black;
	padding: 1.5em 2.5em;
	margin: 2em 0;
}

.card-4 {
	width: 52.5%;
	background-color: white;
	color: black;
	padding: 1.5em 2.5em;
	margin: 2em 0;
}

.card-5 {
	width: 52.5%;
	background-color: white;
	color: black;
	padding: 1.5em 2.5em;
	margin: 2em 0;
}

.card-6 {
	width: 52.5%;
	background-color: white;
	color: black;
	padding: 1.5em 2.5em;
	margin: 2em 0;
}

.card-7 {
	width: 52.5%;
	background-color: white;
	color: black;
	padding: 1.5em 2.5em;
	margin: 2em 0;
}

.card-8 {
	width: 52.5%;
	background-color: white;
	color: black;
	padding: 1.5em 2.5em;
	margin: 2em 0;
}

/* BUTTON PART */
.bottom-button {
	color: rgb(214, 205, 205);
	width: 52.5%;
	margin: 10px 0px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: linear-gradient(to right, #37ed7d 10%, #28c57f, #1cb088, #119a8e);
	border-radius: 5px;
}

.money-back {
	width: 52.5%;
	text-align: center;
	color: #00000091;
	font-weight: 500;
}

.last-line {
	width: 52.5%;
	margin-top: 3em;
}
